<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Insight You</title>
	<link rel='stylesheet' href='css/blog/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/woocommerce-smallscreen.css' type='text/css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' href='css/blog/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/style.css' type='text/css' media='all' />
	<link rel='stylesheet'
		href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700'
		type='text/css' media='all' />
	<link rel='stylesheet' href='css/easy-responsive-shortcodes.css' type='text/css' media='all' />
	<link rel="icon" type="image/png" href="/images/insight you.png" />

</head>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
			<header id="masthead" class="site-header">
				<div class="site-branding">
					<h1 class="site-title"><a href="index.html" rel="home">Insight You</a></h1>
					<!-- <h2 class="site-description">Minimalist Portfolio HTML Template</h2> -->
				</div>
				<nav id="site-navigation" class="main-navigation">
					<button class="menu-toggle">Menu</button>
					<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
					<div class="menu-menu-1-container">
						<ul id="menu-menu-1" class="menu">
							<li><a href="/">Home</a></li>
							<li><a href="/mood">Diary</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/song">Music</a></li>
							<li><a href="/home#contact">Contact</a></li>
						</ul>
					</div>
				</nav>
			</header>
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div id="primary" class="content-area column two-thirds single-portfolio">
					<main id="main" class="site-main">

						<article class="portfolio hentry">
							<header class="entry-header">
								<div class="entry-thumbnail">
									<img width="800" height="533"
										src="https://t4.ftcdn.net/jpg/03/00/94/69/360_F_300946931_kSR84OqudEhsmBZH47HU6ud7aZIDMjEx.jpg"
										class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" />
								</div>
								<h1 class="entry-title">Hãy bỏ gánh lo đi để vui sống</h1>

							</header>
							<div class="entry-content">
								<p>
									Đắc nhất nhật quá nhất nhật
								</p>
								<p>
									Mùa xuân năm 1871, một thành niên may mắn đọc được một câu văn ảnh
									hưởng sâu xa tới tương lai của chàng. Hồi ấy còn là sinh viên y khoa ở
									trường Montreal, chàng lo đủ thứ: lo thi ra cho đậu, đậu rồi sẽ làm gì, làm ở
									đâu, sao cho có đủ thân chủ, kiếm cho đủ ăn?
									Nhờ câu văn đọc được trong sách của Thomas Carlyle mà chàng trở nên
									một y sĩ có danh nhất thời đó. Chính chàng đã tổ chức trường y khoa John
									Hoplins hiện nổi tiếng khắp hoàn cầu, rồi làm khoa trưởng ban y khoa tại
									Đại học Oxford, một danh dự cao nhất trong y giới Anh. Về sau chàng lại
									được Anh hoàng phong tước và khi mất người ta viết hai cuốn sách dày
									1.466 trang để kể lại thuở sinh bình.<br>
									Tên chàng là William Osler. Còn câu văn mà chàng đọc được mùa xuân
									năm 1871, câu văn đã giúp chàng quẳng được gánh lo trong đời chàng là:
									"Những công việc ở ngày trước mặt ta phải coi là quan trọng nhất, và đừng
									bận tâm tới những công việc còn mờ mờ từ xa".<br>
									Bốn mươi hai năm sau, một đêm xuân ấm áp, trong khi trăm bông đua nở
									giữa sân trường, William Osler diễn thuyết trước sinh viên Đại học Yale đã
									nói rằng, thiên hạ đã lầm khi bảo một người như ông, làm giáo sư tại bốn
									trường Đại học và viết một cuốn sách nổi danh, tất phải có "bộ óc dị
									thường". Vì những người thân của ông biết rõ "óc ông vào hạng tầm thường
									nhất".<br>
									Vậy thì bí quyết thành công của ông ở đâu? Ông đáp lại bí quyết đó ở chỗ
									ông biết "chia đời sống ra từng ngăn, cách biệt hẳn nhau, mỗi ngăn một
									ngày". Ý ông muốn nói gì vậy? Vài tháng trước buổi diễn thuyết ở Yale, ông
									đã đáp một chiếc tàu biển lớn, vượt Đại Tây Dương. Trên chiếc tàu đó, ông
									thấy người thuyền trưởng, đứng ở cầu thang, chỉ nhấn vào một cái nút mà
									làm chạy một cái máy, tức thì ngăn thiệt kín những bộ phận chính trong tàu,
									không cho phần này thông qua phần khác, ví dụ vì tai nạn nước có tràn vào
									cũng không đắm tàu được. Rồi ông nói tiếp với các sinh viên: "Cơ thể chúng
									ta là một bộ máy kỳ dị hơn chiếc tàu đó nữa. Tôi khuyên các anh tập cách
									điều khiển bộ máy đó để sống ngày nào riêng biệt ngày ấy: đó là cách chắc
									chắn nhất để yên ổn trong cuộc viễn hành. Nhận một nút đi rồi nghe, trong
									mỗi đoạn đời, chiếc cửa sắt sập lại, ngăn hiện tại với quá khứ. Quá khứ đã
									chết, đừng cho nó sống lại nữa. Nhận một cái nút khác và đóng kín cửa sắt
									của tương lai lại, cái tương lai nó chưa sinh. Như vậy các anh được yên ổn -
									yên ổn trong ngày hôm nay!... Đóng quá khứ lại! Để cho quá khứ đã chết rồi

									tự chôn nó... Đóng những hôm qua lại, chúng đã bước mau về cõi chết. Để
									cho gánh nặng của ngày mai đè thêm vào gánh nặng hôm qua và hôm nay thì
									kẻ mạnh nhất cũng phải quỵ. Đóng chặt tương lai cũng như đóng chặt dĩ
									vãng lại. Tương lai là hôm nay... Không có ngày mai. Ngày vinh quang của
									ta là ngày hôm nay. Sự phung phí năng lực, nỗi ưu tư sẽ làm cho ta lảo đảo,
									nếu ta cứ lo lắng về tương lai... Vậy đóng kỹ những bức vách trước và sau
									đi, và luyện lấy tập quán "Đắc nhất nhật quá nhật nhất".
									Như vậy có phải bác sĩ Osler muốn khuyên ta đừng nên gắng sức một
									chút nào để sửa soạn ngày mai không?. Không. Không khi nào. Trong đoạn
									cuối bài diễn văn đó, ông nói rằng, cách hay hơn hết và độc nhất để sửa soạn
									ngày mai là đem tất cả thông minh, hăng hái của ta tập trung vào công việc
									hôm nay.
									Ông lại khuyên các sinh viên mỗi buổi sáng, mới thức vậy, đọc kinh "Lạy
									cha":
									"...Xin Cha cho chúng con hàng ngày dùng đủ..."<br>
									Các bạn nhớ trong câu kinh đó chỉ xin cơm cho đủ ngày một thôi, chứ
									không phàn nàn về cơm ôi mà hôm qua đã phải nuốt đâu nhé. Mà cũng
									không xin: "Chúa thương con với. Mới rồi đã hạn hán dữ, mà còn có thể hạn
									hán được nữa - làm sao con có gạo ăn mùa thu tới đây được? - hoặc nếu mất
									việc thì con làm sao có gạo mà ăn?".<br>
									Không, câu kinh đó chỉ cầu xin được cơm ăn cho đủ từng ngày mà thôi.
									Vì chỉ có cơm hôm nay mới là thứ cơm ta có ăn được.
									Hồi xưa, một triết gia, túi không có một xu, thơ thẩn trong một miền núi
									đá mà dân cứ sống rất vất vả. Một hôm, nhân thấy một đám đông quây quần
									chung quanh mình, trên một ngọn đồi, ông bèn đọc một diễn văn mà nhân
									loại đã trích lục nhiều hơn hết từ trước tới giờ. Trong diễn văn có câu này
									được lưu truyền muôn thuở:<br>
									"Đừng lo tới ngày mai vì ngày mai ta phải lo tới công việc của ngày mai.
									Ta chỉ lo tới hôm nay thôi cũng đủ khổ rồi".<br>
									Tôi xin nhắc bạn: Câu đó khuyên đừng "lo" tới ngày mai chứ không phải
									là đừng "nghĩ". Bạn cứ nghĩ tới ngày mai, cứ cẩn thận suy nghĩ, dự tính, sửa
									soạn đi, nhưng đừng lo lắng gì hết.<br>
									Trong chiến tranh vừa rồi, các nhà chỉ huy tối cao của quân đội ta luôn
									luôn dự tính cho ngày mai và cả những ngày còn xa hơn nữa, nhưng họ
									không bao giờ vì vậy mà ưu tư cả. Đô đốc E.J.King chỉ huy hải quân Huê Kỳ
									nói: "Tôi đã đưa những khí giới tốt nhất cho những quân tài cán nhất và đã
									<br>
									giao phó sứ mạng cho họ trong lúc tiện nghi nhất. Đó, tôi chỉ làm được có
									vậy thôi". Đô đốc tiếp: "Một chiếc tàu bị đắm, tôi không thể trục nó lên
									được. Dùng thì giờ của tôi để tính công việc sắp tới, ích lợi nhiều hơn là ưu
									phiền về những lỗi lầm hôm qua. Vả lại nếu tôi nghĩ tới chuyện cũ hoài, chắc
									tôi không thể sống lâu".<br>
									Trong thời loạn cũng như thời bình, khéo suy với vụng suy chỉ khác nhau
									ở chỗ này: Khéo suy là nghĩ kỹ về nhân quả rồi hành động một cách hợp lý,
									hữu ích; còn vụng suy chỉ làm cho thần kinh ta căng thẳng và suy nhược
									thôi.<br>
									Mới rồi tôi được cái hân hạnh phỏng vấn ông Arthur Sulzberger, chủ bút
									một tờ báo nổi danh nhất thế giới, tờ "Nữu ước nhật báo". Ông nói với tôi
									rằng khi chiến tranh thứ nhì bùng lên ở Âu Châu, ông gần như chết điếng, lo
									về tương lai đến nỗi mất ngủ. Nửa đêm ông thường tỉnh giấc, nhìn bóng
									trong gương rồi lấy bút, sợn tự vẽ mặt ông. Ông không biết chút gì về môn
									hội hoạ hết, nhưng ông cứ vẽ càn cho óc khỏi phải lo lắng. Mãi đến khi ông
									dùng câu hát dưới đây làm châm ngôn, ông mới thấy bình tĩnh trong tâm
									hồn. Câu đó trong bài Thánh ca:<br>
									"Xin Chúa chỉ đường cho con bằng ánh sáng của Chúa...".<br>
									"Xin Chúa dắt con bước. Con chẳng mong được trông cảnh xa xa. Chỉ xin<br>
									Chúa dắt con từng bước... Vì từng bước là đủ cho con rồi...".<br>
									Đồng thời, một thanh niên Mỹ đang tùng chinh bên Châu Âu, cũng học<br>
									được bài học như vậy. Chàng tên là Ted Bengermino bị lo lắng giày vò tới<br>
									nỗi thần kinh suy nhược nặng.<br>
									Chàng viết: "Tháng tư năm 1945, vì quá lo nghĩ, tôi mắc một chứng bệnh
									ruột, đau đớn vô cùng. Nếu chiến tranh không kết liễu ngay lúc đó thì chắc là
									tôi nguy rồi. Tôi mỏi mệt quá lẽ. Lúc đó tôi làm hạ sĩ quan ở bộ binh, đội thứ
									94. Công việc của tôi là ghi tên những người tử trận, hoặc mất tích, hoặc
									nằm nhà thương. Tôi phải thu những đồ dùng của họ để gởi về cho thân nhân
									họ, vì người ta trọng những kỷ niệm đó lắm. Tôi luôn luôn sợ vì lúng túng
									mà rồi lẫn lộn đáng tiếc chăng. Tôi lo lắng không biết có làm tròn phận sự
									không, có sống sót để về ôm đứa con một hay không - đứa con mới 6 tháng
									mà tôi chưa được biết mặt. Tôi lo lắng mệt nhọc đến mức mất 17 ki lô. Tôi
									hoảng hốt gần hoá điên. Tôi ngó tay tôi chỉ thấy còn da với xương.
									Nghĩ tới khi về nhà, thân hình tiền tuỵ mà sợ, khóc lóc như con nít. Tâm
									hồn bị rung động quá chừng, nên mỗi khi ngồi một mình là nước mắt tràn ra.
									Có một hồi, ít lâu sau trận Bulge, tôi khóc nhiều quá, không còn hy vọng gì
									tinh thần sẽ thư thái như xưa nữa".<br>

									Sau cùng, tôi phải vào nằm nhà thương. Vị bác sĩ săn sóc tôi chỉ khuyên
									có vài lời mà thay đổi hẳn đời tôi. Sau khi đã khám kỹ cơ thể tôi, ông nhận
									rằng bệnh tôi thuộc bệnh thần kinh. "Này anh Ted, anh nên coi đời của anh
									như cái đồng hồ cát. Anh biết rằng phần trên đồng hồ đó có dựng hàng ngàn
									hột cát. Và những hột cát ấy, đều lần lần liên tiếp nhau, chui qua cái cổ nhỏ
									ở giữa để rớt xuống phần dưới. Không có cách gì cho nhiều hạt cát chui
									cùng một lúc được, trừ phi là đập đồng hồ ra, hết thảy bọn chúng ta đều như
									chiếc đồng hồ ấy. Buổi sáng, thức dậy, ta có hàng trăm công việc phải làm
									trong nội ngày. Nhưng nếu chúng ta không làm từng việc một, chậm chạp,
									đều đều như những hột cát chui qua cái cổ đồng hồ kia thì chắc chắn là cơ
									thể và tinh thần ta hư hại mất".<br>
									"Tôi đã theo triết lý đó từ ngày ấy. Mỗi lần chỉ có một hột cát xuống
									thôi... Mỗi lần chỉ làm một việc thôi. Lời khuyên đó đã cứu thể chất và tinh
									thần tôi trong hồi chiến tranh, mà bây giờ còn giúp tôi trong công việc làm
									ăn nữa. Tôi là một viên kiểm soát số hàng dự trữ của một công ty ở
									Baltimore. Tôi thấy trong nghề buôn cũng có những khó khăn y như trong
									hồi chiến tranh: Nào lo những tờ mới, lo tính toán số dự trữ mới, nào lo
									những thay đổi địa chỉ, lo mở thêm hoặc đóng bớt những chi nhánh v.v.
									Nhưng tôi không nóng nẩy và luôn luôn nhớ lời khuyên của bác sĩ: "Mỗi lần
									chỉ có một hột cát xuống thôi. Mỗi lần chỉ làm một việc thôi". Tôi tự nhắc đi
									nhắc lại câu đó và làm việc một cách rất hiệu quả, không hoảng hốt hay có
									cảm giác ruột rối như tơ vò nó đã làm cho tôi chết dở ở mặt trận khi xưa
									nữa".<br>
									Một trong những tình trạng ghê gớm nhất của đời sống bây giờ là một nửa
									số bệnh nhân điều trị tại các nhà thương là những người mắc bệnh thần kinh
									hay loạn óc. Họ bị đè bẹp dưới sức nặng của những lo lắng về quá khứ lẫn
									với tương lai. Mà đại đa số những bệnh nhân đó đều có thể khoẻ mạnh, đi
									đứng như thường, ngay từ hôm nay, sống một đời sung sướng, hay hơn nữa,
									một đời hữu ích nếu họ chịu nghe lời Chúa Giê-Su dạy: "Con đừng lo cho
									ngày mai", hoặc lời khuyên của Wiliam Osler: "Chia đời sống thành từng
									ngăn, cách biệt hẳn nhau, mỗi ngăn là một ngày".
									Bạn và tôi, ngay trong lúc này đây, chúng ta đứng tại chỗ hai cái vô tận
									gặp nhau: cái dĩ vãng mênh mông có từ thời khai thiên lập địa và cái tương
									lai nó bắt đầu từ tiếng cuối cùng mà tôi mới thốt. Chúng ta không thể sống
									trong cả hai cái vô tận đó được, dù chỉ là trong một phần giây. Mà hễ rán
									sống trong hai thời gian thì ta sẽ làm hai cho tinh thần và thể chất của ta liền.
									Vậy chúng ta hãy chịu sống trong hiện tại vì ta chỉ có thể sống được trong
									hiện tại thôi.<br>

									Robert Louis Stevenson nói: "Bất kỳ ai cũng có thể làm công việc hàng
									ngày của mình được, dù công việc đó nặng nhọc tới bực nào đi nữa. Bất kỳ
									ai cũng có thể sống một cách êm đềm, trong sạch, kiên nhẫn, đầy tình
									thương chan chứa trong lòng, từ mặt trời mọc cho tới khi mặt trời lặn. Đó, ý
									nghĩ của cuộc đời như vậy".<br>
									Phải, đời chỉ đòi hỏi ta có bấy nhiêu thôi. Nhưng bà E.K.Shields ở
									Michigan lại thất vọng tới nỗi muốn tự tử, trước khi học được cách sống
									từng ngày một. Bà kể với tôi: "Năm 1937 nhà tôi mất, tôi đau đớn thất vọng
									lắm và gia tư gần như khánh kiệt. Tôi viết thư xin việc ông chủ cũ của tôi là
									ông Leon Roach ở Công ty Roach-Fowler và được cử làm lại việc cũ. Hồi
									xưa, tôi đã bán sách cho các trường tỉnh và trường làng để kiếm ăn. Hai năm
									trước tôi bán chiếc xe hơi để lo thuốc thang cho nhà tôi. Nhưng tôi cũng ráng
									thu nhặt tiền nong để mua dài hạn một chiếc xe cũ rồi chở sách đi bán.
									Tôi tưởng trở về nghề cũ như vậy sẽ bớt ưu phiền, tinh thần sẽ phấn khởi
									lên được; song tôi gần như không chịu nổi cảnh thui thủi một mình trên
									đường và trong quán trọ. Miền tôi bán sách dân tình nghèo khổ, ít người mua
									cho nên số lời không đủ để trả tiền xe.<br>
									Mùa xuân năm 1938, tôi đến bán ở gần Versailles
									[7]
									. Ở đây trường học
									nghèo, đường xấu; tôi thấy cô đơn, thất vọng đến nỗi có lần muốn tự tử, cho
									rằng không sao thành công được hết. Mà cũng phải, làm sao đủ sống được?
									Mỗi buổi sáng khi tỉnh dậy, nghĩ tới nỗi phấn đấu với đời, tôi lo sợ đủ thứ:
									Sợ không trả nổi tiền xe, sợ không trả nỗi tiền phòng, không kiếm đủ ăn, sợ
									rồi sẽ đau ốm không có tiền uống thuốc. Nhưng may có hai điều làm cho tôi
									không tự tử là nếu tôi chết thì các em tôi sẽ khổ lắm và tôi không có đủ tiền
									để lại cho họ làm ma tôi.<br>
									Rồi một hôm ngẫu nhiên tôi đọc một bài báo nó kéo tôi ra khỏi cảnh thất
									vọng và khiến tôi đủ can đảm để sống. Tôi sẽ suốt đời mang ơn tác giả bài
									đó, người viết câu này: "Đối với một đạt nhân thì một ngày mới là một đời
									sống mới". Tôi đánh máy lại câu ấy rồi dán lên tấm kính che mưa trong xe
									tôi, để trong khi cầm lái, lúc nào tôi cũng phải ngó tới. Từ đó tôi thấy chỉ
									sống từng ngày một thì đời sống không khó khăn gì cả. Tôi tập quên đi dĩ
									vãng và không nghĩ tới tương lai nữa. Mỗi buổi sáng tôi tự nhủ: "Ngày hôm
									nay là một đời sống mới". Nhờ vậy tôi thắng được nỗi lo sợ cảnh cô đơn,
									hăng hái và yêu đời. Bây giờ tôi biết rằng ta chỉ sống được nội ngày hôm nay
									thôi, không sống được thời dĩ vãng và tương lai và "Đối vơí một đạt nhân thì
									một ngày mới là một đời sống mới".<br>
									Bạn có biết tác gỉa của những câu thơ này là ai không?<br>

									Ai kia sung sướng suốt đời<br>
									Vững lòng nói được "Của tôi ngày này<br>
									Ngày mai, mặc kệ: mai ngày<br>
									Vì tôi đã sống hôm nay, đủ rồi".<br>

									Ý thơ có vẻ mới lắm, phải không bạn? Vậy mà câu đó thi hào Horace đã
									viết 30 năm trước Thiên Chúa giáng sinh đấy.
									Một trong những điều bi đát nhất là loài người có tánh muốn đẩy bỏ đời
									sống hiện tại đi. Hết thảy chúng ta đều mơ mộng những vườn hồng diễm ảo
									ở chân trời thăm thẳm mà không chịu thưởng thức những bông hoa nở kề
									ngay bên cửa sổ.<br>
									Tại sao chung ta điên như vậy? Điên một cách thê thảm như vậy? Stephen
									Leacok viết: "Lạ lùng thay cái chuỗi đời của ta. Con nít thì nói: "Ước gì tôi
									lớn thêm được vài tuổi nữa". Nhưng khi lờn vài tuổi rồi thì sao? Thì lại nói:
									"Ước gì tôi tới tuổi trưởng thành". Và khi tới tuổi trưởng thành lại nói: "Ước
									gì tôi lập gia đình rồi ở riêng". Nhưng khi thành gia rồi thì làm sao nữa? Thì
									lời ước lại đổi làm: "Ước gì ta già được nghỉ ngơi". Và khi được nghỉ ngơi
									rồi thì lại thương tiếc quảng đời đã qua, và thấy như có cơn gió lạnh thổi qua
									quảng đời đó. Lúc ấy đã gần xuống lỗ rồi, còn hưởng được gì nữa. Khi ta
									biết được rằng đời sống ở trong hiện tại, ở trong từng ngày một, thì đã trễ
									quá rồi mà".<br>
									Ông Edward S.Evans gần tự huỷ đời ông cho tới khi ông học được rằng:
									"Đời sống ở trong hiện tại, ở trong ngày đang sống, trong giờ đang sống".
									Sinh trong một gia đình nghèo, nghề đầu tiên của ông là bán báo, rồi làm
									công cho một tiệm tạp hoá. Sau ông giúp việc trong thư viện, để nuôi một
									gia đình 7 người. Lương ít mà khóng dám bỏ sở. Sau 8 năm do dự, ông mới
									quyết định tạo lại cuộc đời. Mới ra với số vốn là 55 mỹ kim mượn của bạn,
									ông phát đạt ngay và mỗi năm kiếm được 20.000 mỹ kim. Rồi thì ông gặp
									một chuyện rủi, tai hại đến nỗi giết ông được. Ông cho một người bạn cho
									vay một số tiền lớn và người bạn đó vỡ nợ. Rồi hoạ vô đơn chí: nhà ngân
									hàng ông gởi tiền cũng vỡ nợ. Sự nghiệp tiêu tan hết, ông còn mắc thêm món
									nợ 16.000 mỹ kim nữa. Đau đơn quá, ông không chịu nổi. Ông nói: "Tôi ăn
									không được, ngủ không được. Tôi đau một chứng kỳ dị mà nguyên nhân chỉ
									là ưu phiên chứ không có chi khác. Một hôm đương đi, tôi té xỉu trên lề. Từ
									lúc đó tôi không cất chân được nữa. Tôi phải nằm liệt giường, mụt mọc đầy
									mình. Những mụt đó sưng mà không vỡ, sau cùng bác sĩ nói với tôi rằng tôi
									chỉ sống được hai tuần nữa thôi. Tôi lo sợ lắm, viết di chúc rồi nằm đợi chết.
									Từ lúc đó, tôi hết phải lo lắng, phấn đấu nữa. Tôi bỏ tuốt cả, nghỉ ngơi rồi thì
									yên chí đợi chết, tôi ngủ được. Đã hàng tuần trước đây, chưa bao giờ tôi ngủ

									được luôn hai giờ, nhưng lúc ấy biết chắc sẽ giũ sạch nợ đời, ngủ li bì như
									một em bé. Hết lo thì thôi tôi cũng hết mệt, ăn được và lên cân.
									Vài tuần sau, tôi chống nạng đi được. Rồi sau sáu tuần tôi đi làm lại.
									Trước kia tôi kiếm 20.000 mỹ kim một năm, bây giờ kiếm được mỗi tuần 30
									mỹ kim mà tôi thấy hài lòng.<br>
									Tôi đã học được một bài học mới, không cò lo lắng, không còn tiếc thời
									phong lưu trước, không lo về tương lai nữa. Tôi đem hết thời giờ, nghị lực
									và hăng hái để làm nghề mới của tôi".<br>
									Thế rồi ông Edward S.Evans lại lên như diều. Chỉ trong vài năm được làm
									hội trưởng Công ty. Những chứng khoán của Công ty ông, được Sở Hối đoái
									Nữu Ước cho là có giá trị. Cho đến năm 1945, ông mất thì đã là một trong
									những nhà doanh nghiệp mau phát đạt nhất ở Mỹ. Nếu bạn ngồi máy bay tới
									Greenland, phi cơ của bạn có thể đáp xuống phi trường Evans, một phi
									trường mang tên ông.<br>
									Ta phải kết luận rằng: Chắc chắn không khi nào ông Edward S.Evens
									được hưởng cái thú thành công như vậy, nếu ông không biết đường diệt ưu
									tư, nếu ông đã không học được cách chia đời sống ra từng ngày một, ngày
									nầy cách biệt hẳn với ngày khác.<br>
									Năm trăm năm trước khi Thiên Chúa giáng sinh, triết gia Hy lạp Heraclite
									bảo đệ tử rằng: "Mọi vật đều thay đổi. Các đệ tử không thể tắm hai lần trên
									một khúc sông". Vì sông mổi giây một thay đổi mà người tắm trên khúc
									sông đocũng vậy. Đời sống là một cuộc biến đổi không ngừng. Chúng ta chỉ
									chắc chắn một điều là ta đang sống trong hiện tại. Thế thì tại sao lại nằng nặc
									đòi giải quyết những vấn đề về tương lai, để làm phai mờ cái đẹp của hiện
									tại? Tương lai còn bị bao phủ trong những biến dịch không ngừng, những
									biến dịch mà không ai đoán trước được kia mà!<br>
									Người La Mã hồi xưa cũng có một tiếng để diễn ý đó. Thiệt ra là hai tiếng
									"Carpe diem" nghĩa là "Vui ngày hôm nay đi". Phải nắm lấy ngày hôm nay
									và tấn hưởng cái thú của nó đi.<br>
									Đó cũng là triết lý của ông Lowell Thomas. Mới rồi tôi lại chơi nhà ông
									vài ngày và nhận thấy hai câu này trong Thánh thi (Psaume CXVIII) đóng
									khung treo trên tường phòng để ông được thường thấy nó.<br>
									"Ngày hôm nay là ngày Thượng Đế ban cho ta. Ta hãy vui vẽ và sung
									sướng hưởng nó đi".<br>
									Ông John Ruskin đặt trên bàn giấy của ông một phiến đá nhỏ trên đó có
									khắc hai chữ: "Hôm nay". Tôi không có phiến đã kia trên bàn, nhưng tôi có<br>

									một bài thơ dán trên tấm gương trong phòng tắm để mỗi buổi sáng tôi thấy
									một lần, khi cạo râu. Bài thơ đó là nhà soạn kịch trứ danh ở Ấn Độ là ông
									Kalidasa làm và ông William Osler chép lại, luôn luôn để trên bàn giấy ông:<br>

									Vậy phương sách thứ nhất để trị ưu phiền là bắt chước William Osler:
								</p>
								<blockquote>
									<p>
										CHÀO BÌNH MINH<br>
										"Hãy chăm chú vào ngày hôm nay,<br>
										Vì nó là đời sống, chính là sự sống của đời sống...<br>
										Nó tuy ngắn ngủi<br>
										Nhưng chứa tất cả chân lý về đời ta:<br>
										Sự sung sướng khi tiến phát,<br>
										Sự vẻ vang của hành động,<br>
										Sự rực rỡ của thành công.<br>
										Vì hôm qua chỉ là một giấc mộng,<br>
										Vì ngày mai chỉ là một ảo tưởng.<br>
										Nhưng hôm nay, nếu sống đầy đủ, ta sẽ thấy hôm qua là một giấc mộng êm
										đềm,<br>
										Và ngày mai là hình ảnh của hy vọng.<br>
										Vậy ta hãy chăm chú kỹ vào hôm nay!"
									</p>
								</blockquote>
								<!-- <p>
						The said Eliza, John, and Georgiana were now clustered round their mama in the drawing-room: she lay reclined on a sofa by the fireside, and with her darlings about her (for the time neither quarrelling nor crying) looked perfectly happy.
					</p> -->
							</div>
						</article>

						<nav class="navigation post-navigation" role="navigation">
							<h1 class="screen-reader-text">Post navigation</h1>
							<div class="nav-links">
								<div class="nav-previous">

								</div>
							</div>
						</nav>
						<!-- .navigation -->

					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->

				<div id="secondary" class="column third">
					<div class="widget-area">
						<aside class="widget">
							<h4 class="widget-title">Reflex yourself</h4>
							<form class="wpcf7" method="post" action="contact.php" id="contactform">
								<div class="form">
									<p>
										1. Khoá chặt dĩ vãng và tương lai lại để sống trong cái phòng kín của
										ngày hôm nay. Tại sao bạn không tự hỏi những câu này và chép lại
										những lời bạn tự giải đáp?<br>
										2. Tôi có cái thói quên hiện tại để lo về tương lai hoặc mơ mông "một
										khu vườn hồng diễm ảo ở chân trời xa xăm" không?<br>
										3. Tôi có thường nghĩ tới quá khứ mà làm cho hiện tại hoá ra chua xót
										không? Quá khứ đó đã qua rồi và thiệt chết rồi.<br>
										4. Sáng dậy tôi có quyết: "Nắm lấy ngày hôm nay" để tận hưởng 24 giờ
										đó không?<br>
										5. Sống trong "cái phòng kín mít của ngày hôm nay" có lợi cho đời sống
										không?<br>
										6. Và bao giờ tôi bắt đầu sống như vậy? Tuần sau?... Ngày mai?... Hay
										hôm nay?
									</p>

									<p><textarea name="comment" rows="3" placeholder="Answer *"></textarea></p>
									<input type="submit" id="submit" class="clearfix btn" value="Send">
								</div>
							</form>
							<div class="done">
								Your misson has been done. Thank you!
							</div>
						</aside>
					</div>
				</div>
			</div>
			<!-- #content -->
		</div>

		<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
	</div>
	<script src='js/jquery.js'></script>
	<script src='js/plugins.js'></script>
	<script src='js/scripts.js'></script>
	<script src='js/masonry.pkgd.min.js'></script>
	<script src='js/validate.js'></script>
</body>

</html>