<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Insight You</title>
	<link rel='stylesheet' href='css/blog/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/woocommerce-smallscreen.css' type='text/css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' href='css/blog/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/style.css' type='text/css' media='all' />
	<link rel='stylesheet'
		href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700'
		type='text/css' media='all' />
	<link rel='stylesheet' href='css/easy-responsive-shortcodes.css' type='text/css' media='all' />
	<link rel="icon" type="image/png" href="/images/insight you.png" />

</head>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
			<header id="masthead" class="site-header">
				<div class="site-branding">
					<h1 class="site-title"><a href="index.html" rel="home">Insight You</a></h1>
					<!-- <h2 class="site-description">Minimalist Portfolio HTML Template</h2> -->
				</div>
				<nav id="site-navigation" class="main-navigation">
					<button class="menu-toggle">Menu</button>
					<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
					<div class="menu-menu-1-container">
						<ul id="menu-menu-1" class="menu">
							<li><a href="/">Home</a></li>
							<li><a href="/mood">Diary</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/song">Music</a></li>
							<li><a href="/home#contact">Contact</a></li>
						</ul>
					</div>
				</nav>
			</header>
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div id="primary" class="content-area column two-thirds single-portfolio">
					<main id="main" class="site-main">

						<article class="portfolio hentry">
							<header class="entry-header">
								<div class="entry-thumbnail">
									<img width="800" height="533"
										src="https://t4.ftcdn.net/jpg/03/00/94/69/360_F_300946931_kSR84OqudEhsmBZH47HU6ud7aZIDMjEx.jpg"
										class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" />
								</div>
								<h1 class="entry-title">Hãy bỏ gánh lo đi để vui sống</h1>

							</header>
							<div class="entry-content">
								<p>
									Based on the highly effective, proven Therapeutic Lifestyle Change (TLC) program: a practical plan for natural ways to treat depression -- without medication
								</p>
								<p>
									In the past decade, depression rates have skyrocketed, and one in four Americans suffer from major depression 
                                    at some point in their lives. Where have we gone wrong? 
                                    Dr. Stephen Ilardi sheds light on our current predicament and reminds us that 
                                    our bodies were never designed for the sleep-deprived, poorly nourished, 
                                    frenzied pace of twenty-first century life. Inspired by the extraordinary 
                                    resilience of aboriginal groups like the Kaluli of Papua New Guinea, 
                                    Dr. Ilardi prescribes an easy-to-follow, clinically proven program that harks back to what our bodies were originally 
                                    made for and what they continue to need with these six components:<br>
                                    Brain Food<br>
                                    Don't Think, Do<br>
                                    Antidepressant Exercise<br>
                                    Let There Be Light<br>
                                    Get Connected<br>
                                    Habits of Healthy Sleep<br>
									The Depression Cure's holistic approach has been met with great success rates, helping even those who have failed to respond to traditional medications. For anyone looking to supplement their treatment, The Depression Cure offers hope and a practical path to wellness for anyone.<br>
									
						</article>

						<nav class="navigation post-navigation" role="navigation">
							<h1 class="screen-reader-text">Post navigation</h1>
							<div class="nav-links">
								<div class="nav-previous">

								</div>
							</div>
						</nav>
						<!-- .navigation -->

					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->

				<div id="secondary" class="column third">
					<div class="widget-area">
						<aside class="widget">
							<h4 class="widget-title">Self-reflection</h4>
							<form class="wpcf7" method="post" action="contact.php" id="contactform">
								<div class="form">
									<p>
										Write down your current feelings
									</p>


									<p><textarea name="comment" rows="3" placeholder="Answer *"></textarea></p>
									<input type="submit" id="submit" class="clearfix btn" value="Send">
								</div>
							</form>
							<div class="done">
								Your misson has been done. Thank you!
							</div>
						</aside>
					</div>
				</div>
			</div>
			<!-- #content -->
		</div>

		<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
	</div>
	<script src='js/jquery.js'></script>
	<script src='js/plugins.js'></script>
	<script src='js/scripts.js'></script>
	<script src='js/masonry.pkgd.min.js'></script>
	<script src='js/validate.js'></script>
</body>

</html>