<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Insight You</title>
	<link rel='stylesheet' href='css/blog/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/woocommerce-smallscreen.css' type='text/css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' href='css/blog/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/blog/style.css' type='text/css' media='all' />
	<link rel='stylesheet'
		href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700'
		type='text/css' media='all' />
	<link rel='stylesheet' href='css/easy-responsive-shortcodes.css' type='text/css' media='all' />
	<link rel="icon" type="image/png" href="/images/insight you.png" />

</head>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
			<header id="masthead" class="site-header">
				<div class="site-branding">
					<h1 class="site-title"><a href="index.html" rel="home">Insight You</a></h1>
					<!-- <h2 class="site-description">Minimalist Portfolio HTML Template</h2> -->
				</div>
				<nav id="site-navigation" class="main-navigation">
					<button class="menu-toggle">Menu</button>
					<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
					<div class="menu-menu-1-container">
						<ul id="menu-menu-1" class="menu">
							<li><a href="/">Home</a></li>
							<li><a href="/mood">Diary</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/song">Music</a></li>
							<li><a href="/home#contact">Contact</a></li>
						</ul>
					</div>
				</nav>
			</header>
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div id="primary" class="content-area column two-thirds single-portfolio">
					<main id="main" class="site-main">

						<article class="portfolio hentry">
							<header class="entry-header">
								<div class="entry-thumbnail">
									<img width="800" height="533"
										src="https://t4.ftcdn.net/jpg/03/00/94/69/360_F_300946931_kSR84OqudEhsmBZH47HU6ud7aZIDMjEx.jpg"
										class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" />
								</div>
								<h1 class="entry-title">Take five minutes out of your day to experience the small win of a mental, physical and emotional recharge that could change your life.</h1>

							</header>
							<div class="entry-content">
								<!-- <p>
									Đắc nhất nhật quá nhất nhật
								</p> -->
								<p>
									Researchers have discovered the formula for living a good life, 
                                    so why is depression still the world''s leading disability and anxiety the most common mental health disorder in North America? 
                                    Most people don''t know what will truly make them happy, and far too few make proven wellness practices a part of their lives. 
                                    To cope with all the stresses we encounter, we need to actively care for ourselves, which includes heeding our ancient programming that demands that we move our bodies, connect face-to-face and get enough sleep. Science has proven that you have the power, through your habitual ways of thinking and behaving, to renovate the space inside your head, 
                                    making it brighter, more resilient, and a more enjoyable place to hang out.<br>
									The 5-Minute Recharge will teach you 31 proven techniques for thriving at work and in life, including:<br>


                                    The mental fitness technique that''s better than magic mushrooms<br>
                                    The best way to grow new brain cells and ensure you continue to look good in your genes as you age<br>
                                    The easily accessible trait that''s associated with the high-performance personality<br>
                                    What George Clooney can teach you about tapping into your inner wisdom<br>
                                    The Navy SEAL tactic you can use to trigger relaxation even in tense situations<br>

                                    
									Each of the 31 strategies is backed by research and includes additional resources to enrich your 
                                    understanding of wellness and inspire you to care for yourself in quick, fun, life-affirming ways.<br>
									With your well-being in mind, authors and soul sisters Lynne Everatt and Addie Greco-Sanchez designed these 31 hands-on tools for creating a greater sense of having enough time, connecting with others, nourishing your body and mind, feeding positivity, and taking time for reflection. And that''s worth getting charged up about.
								</p>
								<!-- <blockquote>
									<p>
										CHÀO BÌNH MINH<br>
										"Hãy chăm chú vào ngày hôm nay,<br>
										Vì nó là đời sống, chính là sự sống của đời sống...<br>
										Nó tuy ngắn ngủi<br>
										Nhưng chứa tất cả chân lý về đời ta:<br>
										Sự sung sướng khi tiến phát,<br>
										Sự vẻ vang của hành động,<br>
										Sự rực rỡ của thành công.<br>
										Vì hôm qua chỉ là một giấc mộng,<br>
										Vì ngày mai chỉ là một ảo tưởng.<br>
										Nhưng hôm nay, nếu sống đầy đủ, ta sẽ thấy hôm qua là một giấc mộng êm
										đềm,<br>
										Và ngày mai là hình ảnh của hy vọng.<br>
										Vậy ta hãy chăm chú kỹ vào hôm nay!"
									</p>
								</blockquote> -->
								<!-- <p>
						The said Eliza, John, and Georgiana were now clustered round their mama in the drawing-room: she lay reclined on a sofa by the fireside, and with her darlings about her (for the time neither quarrelling nor crying) looked perfectly happy.
					</p> -->
							</div>
						</article>

						<nav class="navigation post-navigation" role="navigation">
							<h1 class="screen-reader-text">Post navigation</h1>
							<div class="nav-links">
								<div class="nav-previous">

								</div>
							</div>
						</nav>
						<!-- .navigation -->

					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->

				<div id="secondary" class="column third">
					<div class="widget-area">
						<aside class="widget">
							<h4 class="widget-title">Self-reflection</h4>
							<form class="wpcf7" method="post" action="contact.php" id="contactform">
								<div class="form">
									<p>
										Write down your current feelings
									</p>

									<p><textarea name="comment" rows="3" placeholder="Answer *"></textarea></p>
									<input type="submit" id="submit" class="clearfix btn" value="Send">
								</div>
							</form>
							<div class="done">
								Your misson has been done. Thank you!
							</div>
						</aside>
					</div>
				</div>
			</div>
			<!-- #content -->
		</div>

		<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
	</div>
	<script src='js/jquery.js'></script>
	<script src='js/plugins.js'></script>
	<script src='js/scripts.js'></script>
	<script src='js/masonry.pkgd.min.js'></script>
	<script src='js/validate.js'></script>
</body>

</html>