<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Insight You</title>
    <link rel="icon" type="image/png" href= "images/insight you.png" />
    <link rel="stylesheet" href="css/quotes/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <header class="header" id="myHeader">
          
          <!-- <img src="logo.png" alt="" class="header-logo-image"> -->
          <a href="/" class="header-logo">
              <img src="/Home/images/logo.png" width="190px">
          </a>
          <div class="header-menu">
              <!-- <ul> -->
              <li><a href="/home" class="header-menu-item">Home</a></li>
              <li><a href="/mood" class="header-menu-item">Diary</a></li>
              <li><a href="/song" class="header-menu-item">Music</a></li>
              <li><a href="/home#contact" class="header-menu-item">Contact</a></li> 
              
          </div>
          
          
          <label for="header-mobile-iput" class="header-bars-btn">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
              <!-- <i class="fas fa-bars"></i>            -->
          </label>
          <!-- <label for="header-menu-responsive">Check1</label> -->

          <input type="checkbox" hidden name="" class="header-input" id="header-mobile-iput">
          <!-- <h1>Hello</h1> -->
          
          <label for="header-mobile-iput" class="header-overlay"></label>
          <div class="header-mobile">
              <label for="header-mobile-iput" class="header-mobile-close">
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
              </label>
              <ul class="header-mobile-list">
                <li><a href="/home" class="header-menu-item">Home</a></li>
                <li><a href="/mood" class="header-menu-item">Diary</a></li>
                <li><a href="/song" class="header-menu-item">Music</a></li>
                <li><a href="/home#contact" class="header-menu-item">Contact</a></li> 
              </ul>
              
              
          </div>
             
      </header>
    <div class="wrapper">
      <header>Quote of the Day</header>
      <div class="content">
        <div class="quote-area">
          <i class="fas fa-quote-left"></i>
          <p class="quote">Never give up because you never know if the next try is going to be the one that works.</p>
          <i class="fas fa-quote-right"></i>
        </div>
        <div class="author">
          <span>__</span>
          <span class="name">Mary Kay Ash</span>
        </div>
      </div>
      <div class="buttons">
        <div class="features">
          <ul>
            <li class="speech"><i class="fas fa-volume-up"></i></li>
            <li class="copy"><i class="fas fa-copy"></i></li>
            
          </ul>
          <button>New Quote</button>
        </div>
      </div>
    </div>
    <script src="javascripts/pages/quotes.js"></script>
  </body>
</html>